* {
    margin: 0;
    padding: 0;

}


body {
    background-image: url("./assets/login-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
}



header {
    height: 100px;
}

.logo {
    position: absolute;
    top: 4%;
    left: 2%;
}



section {
    color: #fff;
    position: relative;
    margin-top: 120px;
}


section h1 {
    font-family: Arial, Helvetica, sans-serif;
    width: 750px;
    margin: 5px auto;
    text-align: justify;
    font-size: 2rem;
    white-space: nowrap;
    letter-spacing: normal;
    text-transform: uppercase;
    font-weight: 1000;
    line-height: 1;

}


section p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.89rem;
    margin: 0 auto;
    text-align: justify;
    width: 750px;
    line-height: 1.6;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9)
}

section .form-section {
    background-color: #fff;
    color: black;
    margin: 0 auto;
    margin-top: 90px;
    height: 420px;
    width: 500px;
    box-sizing: border-box;
    border-radius: 15px;

}


hr.new1 {
    border-top: 1px solid rgb(238, 231, 227);
}


.form-section h2 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding-top: 50px;
    padding-left: 34px;
}



/* section .form-section h1 {
    text-align: justify;
    padding: 30px 15px;


}*/

form {
    margin-top: 32px;
    margin-left: 20px;
}

section .form-section .input-box {
    margin-bottom: 20px;
}

section .form-section .input-box span {
    font-size: 14px;
    padding-left: 14px;
    margin-bottom: 10px;
    display: inline-block;
    color: #000;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: sans-serif;
}



.form-section .input-box input {
    width: 80%;
    padding: 10px 20px;
    outline: none;
    margin-left: 12px;
    border: 1px solid rgb(238, 224, 216);
    font-size: 16px;
    border-radius: 1.8px;
}

.form-section .input-box input:focus {
    /* box-shadow: 0 0 6px rgba(252, 212, 212, 0.8); */
    box-shadow: 0 0 0px 2px rgb(0, 150, 255);
}

.form-section .remember-section {
    margin-top: 15px;
    margin-left: 12px;
    margin-bottom: 25px;
}


input[type="checkbox"] {
    position: relative;
    font-size: 16px;

}

input[type="checkbox"]:checked {
    accent-color: #fff;
    box-shadow:0 0 1px 1px grey ;
}

input[type="checkbox"]::after {
    content: 'Remember me';
    white-space: nowrap;
    margin-left: 15px;

}

hr {
    margin: 0 12px;
    margin-right: 20px;
    background-color: rgb(238, 231, 227);

}

.form-section .input-box input[type="submit"] {
    width: 18.2%;
    padding: 10.5px;
    outline: none;
    margin-top: 15px;
    margin-left: 12px;
    border: 1px solid seashell;
    font-size: 15px;
    background-color: #1E90FF;
    color: snow;
    border-radius: 4px;
    text-transform: capitalize;
    cursor: pointer;
}

.form-section .input-box input[type="submit"]:hover {
    filter: brightness(95%);
}


footer {
    color: #fff;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 60px;
    width: 250px;

}

footer p {
    font-family: sans-serif;
    font-size: 0.8rem;
}