@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}



header {
    width: 100%;
    height: 60px;

}


header .profile-pic {
    float: right;
    height: 40px;
    width: 40px;
    margin: 5px 5px;
    box-sizing: border-box;
    margin-bottom: 0;
    border-radius: 10px;
}

header .profile-pic img {
    max-width: 100%;
    max-height: 100%;
}

.logout-button {
    float: right;
    margin-top: 10px;
    transition-delay: 20s;

}

.logout-button li i {
    cursor: pointer;
}

/* .logout-button:hover::after {
    content: "Logout";
    display: block;
    position: absolute;
    z-index: 1;
    top: 6%;
    right: 20px;
    background: white;
    padding: 10px;

} */

.sidebar {
    position: fixed;
    /*left: 250px;*/
    width: 250px;
    height: 100vh;
    background-color: #ffff;
    transition: all .5s ease;

}

.sidebar .logo {
    height: 60px;
    background-color: black;

}

.sidebar .logo img {
    text-align: center;
    margin: 5px 0 0 10px;
}

.sidebar ul li {
    margin-top: 10px;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    font-size: 20px;
    color: black;
    padding-left: 40px;
}

.sidebar ul a i {
    float: right;
    margin-right: 20px;
}


.sidebar ul a:hover {
    box-sizing: border-box;
    border: 1px solid rgb(248, 242, 242);
    background-color: aliceblue;
    border-left: 5px solid hsl(203, 93%, 74%);
}

.sidebar ul li {
    display: flex;
    flex-direction: row-reverse;
}


section {
    position: relative;
    margin: 0 0 0 250px;
    background-color: rgb(224, 224, 224);
    height: 100vh;
    object-fit: contain;
}

.back-button {
    position: absolute;
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.back-button h4 a {
    color: rgb(17, 115, 177);
    font-weight: bold;
    text-align: center;
}

.back-button h4 a i {
    float: left;
    margin-right: 5px;
    text-align: center;
}


.main-section {
    position: absolute;
    margin: 60px 10px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;


}

.main-section h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px;
    letter-spacing: 1;

}

.main-section .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.left-container {
    flex: 1;

}

.left-container .image {
    margin: 10px 0 0 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    max-width: 350px;
}

.left-container .image img {
    text-align: center;
}

.left-container .images_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 350px;
}

.left-container .images_container .small-images {
    flex: 1 1 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin: 20px;
    height: 100px;
    align-self: normal;
}

.left-container .images_container .small-images img {
    text-align: center;
    max-width: 100%;
}



.right-container {
    margin: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 2;
}

.right-container .tags {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

}

.right-container .wrapper {
    overflow: hidden;
}

.parallelogram {
    width: 100px;
    height: 50px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: gainsboro;
    margin-left: 19px;
    /* (tangens(20deg)*100px)/2 */
}

.parallelogram span {
    font-weight: bold;
    text-align: center;
}

.product-title {
    margin-top: 15px;

}

.product-price {
    margin-top: 8px;
}

.product-title h2,
.product-price h2 {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;

}

.size {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.size h5 {
    padding: 5px;
    border: 1px solid black;
    margin: 10px 5px;
    border-radius: 5px;
    /* cursor: pointer; */

}

.line hr {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    width: 1200px;
    margin-top: 30px;
}

.right-container .desc {
    margin-top: 12px;
}

.right-container .desc p {
    line-height: 1.6;

}

.seller-info h2 {
    text-transform: capitalize;
}

.content-info {
    width: 400px;
    height: 250px;
    margin-top: 10px;
}

.content-info .option-text {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;

    background-color: rgba(255, 255, 255, 0.6);
}

.content-info .option-text h1 {
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0);
    cursor: pointer;
}

.content-info .option-text h1:nth-child(1) {
    border-bottom: 3px solid rgb(92, 206, 252);
}


.content-info .text {
    width: 100%;
    height: 200px;
    background-color: #fff;
    position: relative;
}

.content-info .text .op-text {
    position: absolute;
    padding: 10px;
}

.content-info .text .op-text h1 {
    text-align: center;
    color: #0f0f0f;

}

.content-info .text .op-text p {
    margin-top: 10px;
    color: #777777;
    letter-spacing: 1.6px;

}


.content-info .text .op-text:nth-child(2) {
    display: none;

}


footer {


    margin: 0 0 0 250px;
    background-color: rgb(224, 224, 224);
    height: 200px;
    object-fit: contain;
}


footer .footer-main-section {
    box-sizing: border-box;
    background: rgb(168, 164, 164);
    margin: 0 12px;
    display: flex;
    height: 180px;
    justify-content: space-around;
    align-items: center;

}

.footer-left-section {
    margin: 5px;

}

.footer-right-section {
    align-self: center;

}


.footer-right-section button {
    background-color: #777777;
    padding: 10px;
}


.modal {

    display: none;
    position: fixed;

    z-index: 1;

    padding-top: 100px;

    left: 50%;
    top: 5%;

    width: 500px;

    height: 500px;

    overflow: auto;



}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



#check {
    display: none;
}

label #btn{
    cursor: pointer;
}

#check:checked ~ .logout {

    content: "Logout";
    display: block;
    position: absolute;
    z-index: 1;
    right: 20px;
    background: white;
    padding: 10px;
}


#myDIV{
    display: none;
    position: absolute;
    z-index: 1;
    top:6%;
    right:4%;
}