@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


body {
    background-color: rgba(232, 232, 232, 0.9);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
}


header .profile-pic {
    float: right;
    height: 40px;
    width: 40px;
    margin: 10px 5px;
    box-sizing: border-box;
    margin-bottom: 0;

}

header .profile-pic img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.sidebar {
    position: fixed;
    /*left: 250px;*/
    width: 320px;
    min-height: 100vh;
    background-color: #ffff;
    box-shadow: 0 0 4px rgb(95, 43, 43);

}

.sidebar .logo {
    height: 85px;
    background-color: black;
    position: relative;

}


.sidebar .logo img {
    position: absolute;
    top: 10%;
    right: 10%;
    height: 60%;


}

/* .sidebar .logo img {
    text-align: center;
    margin: 8px 0 0 18px;
} */

.sidebar ul {
    margin-top: 25px;
}

.sidebar ul li {
    margin-top: 10px;
    height: 60px;

}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    font-size: 20px;
    color: black;
    padding-left: 40px;
    text-align: justify;
}

.sidebar ul a i {
    float: right;
    margin-top: 6px;
    margin-right: 20px;

}


.sidebar ul a:hover {
    box-sizing: border-box;
    border: 1px solid #ffff;
    background-color: rgba(224, 255, 255);
    box-shadow: inset 3px 0 1px rgb(101, 249, 245);
}

.sidebar ul li {
    display: flex;
    flex-direction: row-reverse;
}



hr {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 8px 15px;
}



section {
    margin: 0 0 0 320px;

}

section .title-text {
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 22px;
    font-size: 1.5rem;
}



section .card-container {

    display: flex;

    flex-wrap: wrap;
    margin-top: 28px;
    margin-left: 22px;
}

section .card-container .card {
    background-color: #fff;
    /* : 1 1 600px;flex */
    flex: 1 1 650px;

    box-sizing: border-box;
    border-radius: 12px;
    margin: 12px;
    position: relative;

}

section .card-container .card .left-container {
    margin-top: 14px;
    margin-left: 25px;
}


section .card-container .card .left-container .left-main-header h2 {
    font-size: 1.4rem;
}


section .card-container .card .left-container .left-sub-header {
    margin-top: 18px;

}

section .card-container .card .left-container .left-sub-header h3 {
    font-size: 1rem;
    font-weight: 300;
}



section .card-container .card .left-container .progress-bar {
    margin-top: 20px;

}

.progress-bar progress {

    width: 650px;
    height: 25px;
}

section .card-container .card .left-container .change-class {


    margin: 12px 0 20px 0;
    color: rgba(131, 123, 123, 0.5);
}


section .card-container .card .right-container {
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    position: absolute;
    top: 5%;
    right: 1.5%;

}

section .card-container .card .right-container h3:first-child {
    margin-right: 12px;

}

.right-percentage-container {
    float: right;
    position: absolute;
    bottom: 5%;
    right: 5%;
}




.container-table {
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #fff;
    margin: 28px 22px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.container-table .content {
    margin-top: 14px;
    margin-left: 25px;
}


.content h3 {
    margin-top: 3px;
    font-size: 1.5rem;
}

.content p {
    font-size: 1.2rem;
    margin-top: 15px;
    color: rgba(131, 123, 123, 0.5);
}

.content table {
    margin-top: 20px;
    font-size: 1.1rem;
    width: 98%;
}

table,
th,
td {
    text-align: justify;

}

th,
td {
    padding: 20px;
}

table th {
    background-color: rgba(232, 232, 232, 0.9);
}






section .cards-container {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

section .cards,
section .teams {
    margin-top: 28px;
    margin-left: 25px;
}


section .cards-container .cards {
    flex: 1 1 250px;
    background-color: #fff;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 15px;


}

section .cards-container .cards h1:nth-child(1) {
    align-self: flex-end;
    padding: 10px;
    background-color: #3CB043;
    margin: 10px;
    margin-bottom: 0;
    position: absolute;
    z-index: 1;
    margin-right: -2%;


}

section .cards-container .cards h1:nth-child(2) {

    margin-top: 70px;

}

section .cards-container .cards h1:nth-child(3) {

    margin-top: 25px;
    font-size: 1.5rem;

}

section .cards-container .cards h1:nth-child(4) {
    margin-top: 15px;
    text-align: center;
    font-size: 1.2rem;
    color: rgba(131, 123, 123, 0.5);
}

section .cards-container .cards h1:nth-child(5) {
    margin-top: 35px;
    color: rgba(131, 123, 123, 0.9);
    font-size: 1.2rem;
}

section .cards-container .cards h1:nth-child(6) {
    border: 0.2px solid rgba(131, 123, 123, 0.5);
    margin-top: 20px;
    width: 80%;
    color: rgba(131, 123, 123, 0.5);
}

section .cards-container .cards h1:nth-child(7) {

    margin-top: 20px;
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
    color: rgba(131, 123, 123, 0.5);
    font-size: 1rem;
}

.hr-line {
    border: 0.2px solid rgba(131, 123, 123, 0.5);
    margin-top: 20px;
    width: 80%;
    color: rgba(131, 123, 123, 0.5);
}

.t-head {
    box-shadow: 0 0 1px;
}

tr td {
    border-bottom: 1px solid rgba(131, 123, 123, 0.5);
}


section .team-container {
    display: flex;
    margin-top: 12px;
    flex-wrap: wrap;

}

section .team-container .team-card {
    flex: 1 1 200px;
    background-color: #fff;
    margin: 12px;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

section .team-container .team-card div:nth-child(1) {
    align-self: flex-start;
}


.team-header {
    margin-top: 25px;
    margin-left: 20px;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: bold;
}


.circle-container {
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 25px;
}


.new-line {
    margin-top: 30px;
    margin-left: 15px;
}


.new-line h1 {
    border: 0.2px solid rgba(131, 123, 123, 0.5);
    width: 80%;
    color: rgba(131, 123, 123, 0.5);
}



.charged-class {
    margin-top: 15px;

    align-self: center;

}

.charged-class h1 {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(131, 123, 123, 1);

}

.amount {
    align-self: center;
    margin-top: 12px;
    margin-bottom: 12px;
    
}
.amount h1{
    font-size: 1rem;
    font-weight: 300;
    color:rgba(131,123,123,1);
}



.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 50px;
    color: #fff;
    text-align: center;

}

.circle:not(:first-child) {
    margin-left: -25px;
}

.circle-red {
    background: red;
}

.circle-violet {
    background: violet;
}

.circle-yellow {
    background: rgb(255, 170, 51);
}

.circle-blue{
    background-color: #2a52be;
}


/* section .card-container .card .left-container .change-class h3{
   flex:1 1 800px;
} */



/* section {

    margin: 0 0 0 280px;
    background-color: rgb(224, 224, 224);
    height: 100vh;
}


section h1 {
    text-transform: uppercase;
    font-size: 24px;
    margin: 15px;
}

section .product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 5px;
    margin: 0 10px;

}


.corner {
    width: 0;
    height: 10px;
    border-top: 50px solid red;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
    margin: 2px 2px 2px 0;
}

.corner span {
    position: absolute;
    top: 2%;
    left: 0;
    font-size: 12px;
    transform: rotate(-45deg);
    text-align: center;
    text-transform: bold;
}


.product {
    flex: 1 1 350px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin: 20px;
    height: 450px;
    align-self: normal;

}

.content {
    margin-top: 120px;
}


.product .image {
    margin-top: 5px;
    text-align: center;



}

.product .image img {
    max-width: 200px;
    max-height: 200px;
}

.product hr {
    margin: 0 8px;
    background-color: antiquewhite;
}

.info {
    display: flex;
    justify-content: space-between;

}

.size {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}


.size h5 {
    padding: 5px;
    border: 1px solid black;
    margin: 10px 5px;
    border-radius: 5px;

}

.left-info h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    margin-left: 10px;
}

.right-info h5 {
    margin-right: 12px;
    font-weight: bold;
    font-size: 18px;


}

.right-info h6 {
    text-decoration: line-through;
} */








/* #check {
    display: none;

}

label #btn,
label #cncl {
    position: absolute;
    cursor: pointer;
    background-color: #042331;
    border-radius: 3px;
}

.sidebar ul li {
    border-bottom: 1px solid whitesmoke;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 25px;
    color: white;
    padding: 6px 12px;
}

label #cncl {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 25px;
    color: #ffff;
    padding: 0px;
    transition: 0.5s ease;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cncl {
    left: 250px;
} */
