@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}



header {
    width: 100%;
    height: 60px;
}


header .profile-pic {
    float: right;
    height: 40px;
    width: 40px;
    margin: 5px 5px;
    box-sizing: border-box;
    margin-bottom: 0;
    border-radius: 10px;
}

header .profile-pic img {
    max-width: 100%;
    max-height: 100%;
}

.sidebar {
    position: fixed;
    /*left: 250px;*/
    width: 250px;
    height: 100vh;
    background-color: #ffff transition: all .5s ease;

}

.sidebar .logo {
    height: 60px;
    background-color: black;

}

.sidebar .logo img {
    text-align: center;
    margin: 5px 0 0 10px;
}

.sidebar ul li {
    margin-top: 10px;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    font-size: 20px;
    color: black;
    padding-left: 40px;
}

.sidebar ul a i {
    float: right;
    margin-right: 20px;
}


.sidebar ul a:hover {
    box-sizing: border-box;
    border: 1px solid rgb(248, 242, 242);
    background-color: aliceblue;
    border-left: 5px solid hsl(203, 93%, 74%);
}

.sidebar ul li {
    display: flex;
    flex-direction: row-reverse;
}

section {

    margin: 0 0 0 250px;
    background-color: rgba(224, 224, 224,0.5);
    height: 100vh;
}


section h1 {
    text-transform: uppercase;
    font-size: 24px;
    margin: 15px;
}

section .product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 5px;
    margin: 0 10px;

}


.corner {
    width: 0;
    height: 10px;
    border-top: 50px solid red;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
    margin: 2px 2px 2px 0;
}

.corner span {
    position: absolute;
    top: 2%;
    left: 0;
    font-size: 12px;
    transform: rotate(-45deg);
    text-align: center;
    text-transform: bold;
}


.product {
    flex: 1 1 350px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin: 20px;
    height: 450px;
    align-self: normal;

}

.content {
    margin-top: 120px;
}


.product .image {
    margin-top: 5px;
    text-align: center;



}

.product .image img {
    max-width: 200px;
    max-height: 200px;
}

.product hr {
    margin: 0 8px;
    background-color: antiquewhite;
}

.info {
    display: flex;
    justify-content: space-between;

}

.size {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}


.size h5 {
    padding: 5px;
    border: 1px solid black;
    margin: 10px 5px;
    border-radius: 5px;

}

.left-info h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    margin-left: 10px;
}

.right-info h5 {
    margin-right: 12px;
    font-weight: bold;
    font-size: 18px;


}

.right-info h6 {
    text-decoration: line-through;
}








/* #check {
    display: none;

}

label #btn,
label #cncl {
    position: absolute;
    cursor: pointer;
    background-color: #042331;
    border-radius: 3px;
}

.sidebar ul li {
    border-bottom: 1px solid whitesmoke;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 25px;
    color: white;
    padding: 6px 12px;
}

label #cncl {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 25px;
    color: #ffff;
    padding: 0px;
    transition: 0.5s ease;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cncl {
    left: 250px;
} */
